h1{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
